// This file contains only abstracts not literal material components in our project.
// variables and mixins

$color_orange: #f76900;
$color_blue: #000e54 ;

$color_primary: green;
$color_gray: #4A4A4A;
$color_orange: #F76900;
$color_blue: #000e54;



$font-primary: Arial;
$font-secondary: Georgia;
