@use '../sass/abstracts/mixins.scss';

.btnui{
    // background-color: transparent;
    border: 0;
    padding: 1rem;
    border: 1px sold white;
    cursor: pointer;
    &.menu{
        display: inline-block;
        @include mixins.breakpoint(sm){
            display: none;
        }
    }
    &.close{
        background-color: transparent;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
}